<div class="nav">
    <h1>App</h1>
    <ul class="routes">
        <li>
            <a routerLink="home" routerLinkActive="active"  [routerLinkActiveOptions]="{exact:true}">home</a>
        </li>
        <li>
            <a routerLink="posts" routerLinkActive="active"  [routerLinkActiveOptions]="{exact:true}">posts</a>
        </li>
        <!-- <li>
            <a routerLink="create-post" routerLinkActive="active"  [routerLinkActiveOptions]="{exact:true}">Create post</a>
        </li> -->
    </ul>
</div>
